body {
    <style type="text/css"> *


{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
}

h2, h3, h4, h5, h6 {
    color: #ff0000;
}

#top {
    background-color: #ff0000;
}
}